/* line 25, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 31, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
img.dummy {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
}

/* line 38, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

/* line 42, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.ts, .side-menu .link-menu li a, .side-menu .close-sidebar, .feature-banner .openpop-btn a, .enq .select-room ul li a, .main-modal .post-slider .post-slider-main, .main-modal .post-slider .post-slider-thumb {
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

/* line 48, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.cubic, .feature-popup, .page-banner .slide-content {
  -moz-transition: all 0.5s cubic-bezier(0.84, 0.16, 0.41, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.84, 0.16, 0.41, 1);
  -o-transition: all 0.5s cubic-bezier(0.84, 0.16, 0.41, 1);
  transition: all 0.5s cubic-bezier(0.84, 0.16, 0.41, 1);
}

/* line 54, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.clear {
  width: 100%;
  clear: both;
  display: block;
  visibility: hidden;
}

/* line 60, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.wrapper {
  width: 100%;
  overflow: hidden;
  padding-top: 127px;
}

/* line 67, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.wrapper.header-small header .section-menu ul {
  height: 0;
  opacity: 0;
}

/* line 71, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.wrapper.header-small header .section-menu ul li a {
  padding-top: 0;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 82, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.wrapper.header-small header .main-logo img {
  width: 85px;
  height: auto;
}

/* line 87, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.wrapper.header-small header hr {
  display: none;
}

/* line 90, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.wrapper.header-small header .hamburger-bar {
  opacity: 1;
}

/* line 96, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.wrapper.opensidebar .side-menu {
  right: 0;
}

/* line 101, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header {
  background-color: #d4cdca;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

/* line 108, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .header-desktop {
  padding-top: 22px;
  padding-bottom: 22px;
}

/* line 113, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .section-menu.leftside {
  text-align: right;
}

/* line 116, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .section-menu.rightside {
  text-align: left;
}

/* line 119, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .section-menu ul {
  display: inline-block;
  list-style: none;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 126, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .section-menu ul li {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 130, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .section-menu ul li a {
  font-size: 0.79em;
  font-family: 'texgyrepagellaregular';
  letter-spacing: 0.2em;
  padding-top: 35px;
  display: block;
  color: #231f20;
  opacity: 0.5;
  text-decoration: none;
}

/* line 142, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .section-menu ul li a:hover {
  opacity: 1;
}

/* line 147, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .section-menu ul li.social-ico a {
  opacity: 1;
}

/* line 150, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .section-menu ul li.social-ico img {
  width: 20px;
  height: auto;
  margin-top: -3px;
}

/* line 160, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .main-logo {
  text-align: center;
}

/* line 162, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .main-logo img {
  width: 100%;
  max-width: 113px;
  height: auto;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 171, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .main-logo a {
  display: inline-block;
}

/* line 173, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .main-logo a h1 {
  margin: 0;
  padding: 0;
  display: none;
}

/* line 179, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .main-logo hr {
  border-top: 3px solid #bd9532;
  width: 30px;
  margin: 20px auto 0;
}

/* line 185, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .hamburger-bar {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -30%);
  opacity: 0;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

/* line 195, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
header .hamburger-bar a {
  font-size: 1.45em;
  color: #bd9532;
}

/* line 201, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer {
  background-color: #ece4d5;
  padding-top: 40px;
  padding-bottom: 50px;
}

/* line 205, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .footer-logo {
  max-width: 78px;
  height: auto;
  margin: auto;
}

/* line 210, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .copyright {
  color: #0f8683;
  font-family: "texgyrepagellabold";
  font-size: 1em;
  text-align: center;
  margin-top: 30px;
}

/* line 217, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer h2 {
  color: #0f8683;
  font-family: "texgyrepagellaregular";
  font-size: 0.85em;
}

/* line 222, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .footer-link-group {
  padding-top: 30px;
}

/* line 225, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .footer-link {
  list-style: none;
}

/* line 227, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .footer-link li {
  line-height: 0.8em;
}

/* line 229, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .footer-link li a {
  color: #0f8683;
  text-decoration: none;
  font-family: "texgyrepagellaregular";
  font-size: 0.65em;
}

/* line 238, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .property-link {
  text-align: center;
  padding-top: 40px;
}

/* line 241, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .property-link ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}

/* line 248, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .property-link ul li {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

/* line 252, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .property-link ul li a {
  display: block;
}

/* line 254, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
footer .property-link ul li a img {
  width: 100%;
  height: auto;
}

/* line 263, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu {
  position: fixed;
  right: -280px;
  top: 0;
  height: 100%;
  overflow: auto;
  z-index: 11;
  background-color: #606060;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 280px;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 278, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .link-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 282, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .link-menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 284, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .link-menu li a {
  font-size: 1em;
  font-family: 'texgyrepagellaregular';
  letter-spacing: 0.2em;
  padding-top: 22px;
  padding-bottom: 22px;
  display: block;
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

/* line 295, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .link-menu li a:hover {
  opacity: 1;
  text-indent: 15px;
}

/* line 302, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .social-menu {
  text-align: left;
  margin-top: 22px;
}

/* line 305, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .social-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: -15px;
  margin-right: -15px;
}

/* line 312, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .social-menu ul li {
  display: inline;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 317, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .social-menu ul li a {
  display: block;
  width: 30px;
  height: auto;
  opacity: 1 !important;
}

/* line 322, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .social-menu ul li a img {
  fill: white;
}

/* line 329, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .close-sidebar {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1em;
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

/* line 338, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.side-menu .close-sidebar:hover {
  opacity: 1;
}

/* line 343, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-banner {
  position: relative;
}

/* line 345, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-banner .feature-banner-img {
  width: 100%;
  height: auto;
}

/* line 349, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-banner .openpop-btn {
  position: absolute;
  left: 0;
  top: 138px;
}

/* line 353, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-banner .openpop-btn a {
  opacity: 1;
}

/* line 359, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-banner.openpopup .feature-popup {
  left: 0;
}

/* line 363, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-banner.openpopup .openpop-btn a {
  opacity: 0;
}

/* line 369, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-popup {
  background-color: #0f8683;
  padding: 55px;
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  max-width: 445px;
  color: white;
}

/* line 380, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-popup h2 {
  font-family: 'texgyrepagellabold';
  font-size: 1.1em;
  margin-top: 12px;
  margin-bottom: 12px;
  letter-spacing: 0.15em;
}

/* line 387, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-popup p {
  margin-top: 12px;
  font-family: 'Open Sans';
  font-size: 0.75em;
  font-style: italic;
  letter-spacing: 0.1em;
}

/* line 394, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-popup .popup-logo {
  width: 61px;
  height: auto;
  margin-bottom: 12px;
}

/* line 399, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-popup-close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  font-size: 1.2em;
}

/* line 407, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq {
  background-color: white;
  border-bottom: 1px solid red;
  border-bottom: 45px solid #606060;
}

/* line 412, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .container {
  overflow: visible;
}

/* line 415, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .logo-written {
  float: left;
  width: 420px;
  position: absolute;
  z-index: 1;
  top: -112px;
}

/* line 421, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .logo-written img {
  width: 100%;
  height: auto;
}

/* line 426, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq p {
  display: block;
  float: right;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  color: #606060;
  font-family: "open_sansitalic";
  font-style: italic;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-align: right;
}

/* line 439, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form-pos {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 443, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99999;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 45px;
  width: 100% !important;
  opacity: 0;
  z-index: -1;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 458, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form-wrapper.show {
  opacity: 1;
  z-index: 9999;
}

/* line 463, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form {
  width: 100%;
  background-color: #606060;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
}

/* line 470, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form form input[type="text"], .enq .enq-form form textarea {
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 0;
  font-size: 0.79em;
  font-family: "open_sansitalic";
}

/* line 477, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form form input[type="text"] {
  height: 25px;
}

/* line 481, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form form textarea {
  max-width: 100%;
  min-height: 50px;
}

/* line 485, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form form input[type="submit"] {
  background-color: #3a3a3a;
  color: white;
  float: right;
  border-radius: 0;
  border: none;
  padding: 6px 14px;
  font-family: "open_sansitalic";
  font-style: italic;
  font-size: 1.08em;
  cursor: pointer;
  margin-top: 15px;
}

/* line 497, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form form input[type="submit"]:hover {
  background-color: white;
  color: #3a3a3a;
}

/* line 503, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form .enq-btn-list {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 506, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form .enq-btn-list > div {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 510, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form .enq-btn-list .btn-list-child {
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 30px 15px 15px 15px;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

/* line 518, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form .enq-btn-list .btn-list-child p {
  color: white;
  text-align: center;
  font-family: "open_sansitalic";
  font-size: 1.05em;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

/* line 528, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form .enq-btn-list .btn-list-child:hover {
  background-color: #878787;
}

/* line 531, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form .enq-btn-list .btn-list-child .top-border {
  position: absolute;
  top: -12px;
  left: 0;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 539, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form .enq-btn-list .btn-list-child .top-border li {
  float: left;
  width: 33%;
}

/* line 542, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .enq-form .enq-btn-list .btn-list-child .top-border li:after {
  content: "|";
  color: white;
}

/* line 551, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .option-holder {
  position: relative;
}

/* line 554, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .select-room {
  background-color: #606060;
  max-height: 150px;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 568, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .select-room ul {
  list-style: none;
}

/* line 571, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .select-room ul li a {
  text-decoration: none;
  font-family: "open_sansitalic";
  font-size: 0.72em;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  letter-spacing: 0.05em;
}

/* line 583, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .select-room ul li a:hover {
  background-color: #a5bcb4;
}

/* line 589, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq .select-room.open {
  opacity: 1;
  z-index: 1;
}

/* line 595, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq-btn {
  font-family: 'texgyrepagellabold';
  font-size: 1.35em;
  color: #5d5d5d !important;
  text-decoration: none !important;
  display: block;
  float: right;
  line-height: normal;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  opacity: 1;
}

/* line 608, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq-btn .icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  margin-right: 10px;
  display: inline-block;
  background-image: url(../images/common/circle-down.svg);
}

/* line 617, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq-btn:hover {
  opacity: 0.4;
}

/* line 621, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.enq-btn.downed .icon {
  background-image: url(../images/common/circle-up.svg);
}

/* line 626, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section {
  background-color: #0f8683;
  padding-bottom: 45px;
}

/* line 629, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update {
  padding-top: 45px;
}

/* line 631, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update h2 {
  color: white;
  font-family: "texgyrepagellabold";
  letter-spacing: 0.05em;
  font-size: 1.35em;
}

/* line 637, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .see-all {
  color: white;
  padding-bottom: 3px;
  border-bottom: 2px solid white;
  float: right;
  font-family: "texgyrepagellaregular";
  font-size: 1em;
  text-decoration: none;
}

/* line 646, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box {
  margin-top: 22px;
}

/* line 648, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box figure {
  margin: 0;
}

/* line 650, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box figure a {
  display: block;
  padding-top: 90%;
  position: relative;
  overflow: hidden;
}

/* line 655, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box figure a img {
  position: absolute;
  width: 102%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 665, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box .feature-update-box-meta {
  background-color: white;
  padding: 15px 20px;
}

/* line 17, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box .feature-update-box-meta:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

/* line 669, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box .feature-update-box-meta a {
  text-decoration: none;
}

/* line 672, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box .feature-update-box-meta h3 {
  font-family: "texgyrepagellabold";
  font-size: 1.65em;
  letter-spacing: 0.05em;
  color: #a19990;
}

/* line 678, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box .feature-update-box-meta p {
  color: #a19990;
  font-family: "texgyrepagellaregular";
  font-size: 0.8em;
  width: 80%;
}

/* line 684, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box .feature-update-box-meta .more {
  color: #a19990;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  float: right;
  display: inline-block;
}

/* line 690, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update .feature-update-box .feature-update-box-meta .more .icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url(../images/common/ico-more.svg);
  position: relative;
  top: 3px;
  margin-left: 5px;
}

/* line 703, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update-banner {
  position: relative;
}

/* line 705, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update-banner figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 710, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update-banner figure img {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

/* line 723, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-update-section .feature-update-banner figure figcaption {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: "texgyrepagellabold";
  font-size: 2.1em;
  color: white;
}

/* line 743, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.property-banner {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
}

/* line 747, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.property-banner .main-img {
  width: 100%;
  height: auto;
}

/* line 751, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.property-banner .property-info {
  min-width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 44px 50px;
}

/* line 764, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.property-banner .property-info .property-info-logo {
  width: auto;
  margin-bottom: 30px;
}

/* line 767, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.property-banner .property-info .property-info-logo img {
  height: auto;
  max-height: 70px;
  min-height: 40px;
  width: 100%;
}

/* line 774, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.property-banner .property-info .more {
  color: #606060;
  font-family: "texgyrepagellaregular";
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

/* line 779, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.property-banner .property-info .more .icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../images/common/ico-visite.svg);
  position: relative;
  top: 3px;
  margin-left: 5px;
}

/* line 791, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-map {
  background-color: #a09890;
  padding-top: 60px;
  text-align: center;
}

/* line 795, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-map h2 {
  color: #525252;
  font-family: "texgyrepagellabold";
  font-size: 2.3em;
  margin-bottom: 15px;
}

/* line 801, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-map p {
  color: #2a74cf;
  font-size: 1.1em;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 808, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-map .container {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 813, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.feature-map .main-map {
  width: 100%;
  height: auto;
}

/* line 818, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner {
  min-height: 500px;
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

/* line 824, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .dummy {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
}

/* line 830, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .read-btn {
  text-align: right;
  display: block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: white;
  font-family: "texgyrepagellaregular";
  font-size: 0.85em;
  letter-spacing: 0.05em;
  text-decoration: none;
}

/* line 841, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .read-btn i {
  font-size: 25px;
  position: relative;
  top: 5px;
  margin-left: 5px;
}

/* line 847, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .read-btn:hover {
  color: #0f8683;
}

/* line 851, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content {
  position: absolute;
  top: 0;
  right: -400px;
  height: 100%;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.95);
}

/* line 859, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .content-box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding-left: 40px;
  padding-right: 40px;
}

/* line 866, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .content-box .content-meta {
  text-align: right;
}

/* line 868, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .content-box .content-meta .content-title {
  font-family: "texgyrepagellabold";
  font-size: 1.7em;
  letter-spacing: 0.05em;
  color: #a19990;
}

/* line 874, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .content-box .content-meta .content-post-date {
  font-family: "texgyrepagellabold";
  font-size: 1.15em;
  letter-spacing: 0.05em;
  color: #a19990;
}

/* line 881, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .content-box .content-detail {
  color: #a19990;
  text-align: justify;
  margin-top: 30px;
}

/* line 885, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .content-box .content-detail p {
  font-family: "open_sansregular";
  font-size: 1.1em;
  letter-spacing: 0.05em;
}

/* line 892, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .more-popup {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #a19990;
  text-decoration: none;
  font-family: "texgyrepagellaregular";
  font-size: 1em;
  letter-spacing: 0.05em;
}

/* line 901, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .more-popup i {
  font-size: 1em;
}

/* line 904, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner .slide-content .more-popup:hover {
  color: #0f8683;
}

/* line 910, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner.openslide .read-btn {
  display: none;
}

/* line 911, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.page-banner.openslide .slide-content {
  right: 0;
}

/* line 916, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box {
  position: relative;
}

/* line 918, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-meta {
  text-align: left;
}

/* line 920, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-meta .content-title {
  font-family: "texgyrepagellabold";
  font-size: 1.7em;
  letter-spacing: 0.05em;
  color: #a19990;
}

/* line 926, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-meta .content-post-date {
  font-family: "texgyrepagellabold";
  font-size: 1.15em;
  letter-spacing: 0.05em;
  color: #a19990;
}

/* line 932, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-meta hr {
  width: 10%;
  border-color: #bd9532;
  border-width: 3px;
}

/* line 938, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-detail {
  color: #a19990;
  text-align: justify;
  margin-top: 30px;
}

/* line 942, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-detail p {
  font-family: "open_sansregular";
  font-size: 1.1em;
  letter-spacing: 0.05em;
}

/* line 948, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .view-more {
  position: absolute;
  right: 15px;
  bottom: 0;
  color: #a19990;
  text-decoration: none;
}

/* line 954, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .view-more i {
  font-size: 1.15em;
  position: relative;
  top: 2px;
  margin-left: 5px;
}

/* line 960, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .view-more:hover {
  color: #0f8683;
}

/* line 964, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-service-info {
  position: absolute;
  left: 15px;
  bottom: 0;
}

/* line 968, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-service-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 972, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-service-info ul li {
  color: #a19990;
}

/* line 974, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-service-info ul li a {
  color: #a19990;
  text-decoration: none;
}

/* line 978, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-box .content-service-info ul li i {
  margin-right: 5px;
}

/* line 985, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-zone {
  padding-top: 35px;
  padding-bottom: 35px;
}

/* line 988, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-zone h2 {
  color: #a19990;
  font-family: "texgyrepagellabold";
  font-size: 2.4em;
  margin-top: 35px;
  margin-bottom: 50px;
}

/* line 995, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-zone p {
  color: #a19990;
  font-family: "open_sansregular";
  font-size: 1em;
  line-height: normal;
  letter-spacing: 0.05em;
}

/* line 1002, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-zone figure {
  margin-top: 35px;
  margin-bottom: 35px;
}

/* line 1005, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.content-zone figure img {
  width: 100%;
  height: auto;
}

/* line 1012, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.service-items .service-item-child {
  border-bottom: 1px solid rgba(161, 153, 144, 0.5);
  padding-bottom: 35px;
  margin-bottom: 35px;
}

/* line 1016, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.service-items .service-item-child h3 {
  font-family: "open_sansbold";
  font-size: 1em;
  color: #0f8683;
  margin-bottom: 23px;
}

/* line 1022, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.service-items .service-item-child:last-child {
  border-bottom: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* line 1031, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.gallery-zone .gallery-main-title .gallery-main-logo {
  height: 37px;
  width: auto;
}

/* line 1036, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.gallery-zone .gallery-group {
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 50px;
}

/* line 1041, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.gallery-zone .gallery-group .col {
  padding: 0.01em;
}

/* line 1043, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.gallery-zone .gallery-group .col img {
  width: 100%;
  height: auto;
}

/* line 1047, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.gallery-zone .gallery-group .col:first-child, .gallery-zone .gallery-group .col:nth-child(2) {
  width: 50% !important;
  flex-basis: auto;
  flex: none;
}

/* line 1053, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.gallery-zone .gallery-group .gallery-group-caption {
  text-align: right;
  font-family: "open_sansitalic";
  font-size: 0.8em;
  color: #a19990;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 35px;
}

/* line 1065, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.news-list {
  padding-top: 42px;
}

/* line 1067, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.news-list .news-list-child {
  padding-top: 42px;
  padding-bottom: 42px;
  border-bottom: 1px solid #231f20;
}

/* line 1071, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.news-list .news-list-child:first-child {
  padding-top: 0;
}

/* line 1074, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.news-list .news-list-child figure {
  margin: 0;
  padding: 0;
}

/* line 1077, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.news-list .news-list-child figure img {
  width: 100%;
  height: auto;
}

/* line 1086, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .modal-dialog {
  width: 100% !important;
  height: 100% !important;
  max-width: 970px;
  position: relative;
}

/* line 1091, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .modal-dialog .modal-content {
  border-left: 0;
  border-top: 0;
  border-right: 3px solid #0f8683;
  border-bottom: 3px solid #0f8683;
  border-radius: 0;
}

/* line 1099, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .modal-header {
  position: relative;
  border-bottom: none;
  margin-bottom: 30px;
}

/* line 1104, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .btn-close {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  border-radius: 0;
  color: #0f8683;
}

/* line 1113, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .content-box {
  padding-bottom: 80px;
}

/* line 1115, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .content-box .content-service-info {
  position: relative;
  left: auto;
  bottom: auto;
}

/* line 1121, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .service-type {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 30px;
  color: #a8a8a8;
}

/* line 1128, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .post-slider {
  height: 490px;
}

/* line 1130, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .post-slider .post-slider-main {
  opacity: 0;
}

/* line 1134, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .post-slider .post-slider-thumb {
  opacity: 0;
}

/* line 1141, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.main-modal .popupslider .bx-wrapper .bx-viewport {
  border: none;
  padding: 0;
  left: auto;
  top: auto;
  box-shadow: none;
}

/* line 1151, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.modal-backdrop {
  background-color: #ece4d5;
}

/* line 1153, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.modal-backdrop.show {
  opacity: 0.95;
}

/* line 1157, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.modal-open {
  overflow: hidden;
}

/* line 1163, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.prop-list .prop-list-child .prop-list-child-grid {
  position: relative;
  padding: 0;
}

/* line 1166, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.prop-list .prop-list-child .prop-list-child-grid .prop-detail {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
}

/* line 1173, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.prop-list .prop-list-child .prop-list-child-grid .prop-detail p {
  color: #333333;
  text-align: justify;
  font-family: "open_sansregular";
  font-size: 1em;
  line-height: 1.15em;
}

/* line 1180, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.prop-list .prop-list-child .prop-list-child-grid .prop-detail .prop-logo {
  max-width: 190px;
  max-height: 80px;
  width: auto;
  display: inline-block;
  margin-bottom: 30px;
}

/* line 1191, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.prop-list .prop-list-child:nth-child(even) .prop-list-child-grid:first-child {
  left: 41.66%;
}

/* line 1194, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.prop-list .prop-list-child:nth-child(even) .prop-list-child-grid:last-child {
  right: 58.34%;
}

/* line 1199, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.prop-list .prop-list-child .prop-img {
  background-position: center center;
  background-size: 110%;
}

/* line 1204, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.prop-list .view-more {
  color: rgba(35, 31, 32, 0.5);
  border: 1px solid #b7b4b3;
  padding: 7px 18px;
  font-family: "texgyrepagellaregular";
  font-size: 0.87em;
  letter-spacing: 0.05em;
  display: inline-block;
  margin-top: 30px;
}

/* line 1215, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
#map-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 1222, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-background {
  background-position: center center;
  background-size: 120%;
  background-repeat: no-repeat;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

/* line 1230, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  padding-left: 50px;
  padding-right: 50px;
}

/* line 1237, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder .contact-form {
  background-color: #0f8683;
  padding: 30px 25px;
  width: 100%;
}

/* line 1242, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder h3 {
  color: white;
  font-family: "texgyrepagellaregular";
  font-size: 1.75em;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

/* line 1251, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

/* line 1256, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder ul li {
  color: white;
  font-family: "open_sansregular";
  font-size: 0.75em;
  line-height: 0em;
  padding-left: 5px;
}

/* line 1262, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder ul li:before {
  content: ".";
  font-family: "open_sansregular";
  font-size: 3.5em;
  line-height: 0.5em;
  color: #e8b365;
  position: relative;
  top: -2px;
  left: -5px;
}

/* line 1272, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder ul li a {
  color: white;
  text-decoration: none;
}

/* line 1278, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder .form-control {
  border-radius: 0;
  border: none;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.85em;
}

/* line 1286, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder textarea {
  max-width: 100%;
  min-height: 160px;
}

/* line 1290, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder input[type="submit"] {
  border-radius: 0;
  background-color: #eaaf0a;
  color: white;
  border: none;
  font-family: "open_sansregular";
  font-size: 0.85em;
  float: right;
  display: inline-block;
  padding: 5px 18px;
  cursor: pointer;
  margin-top: 15px;
}

/* line 1302, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.contact-form-holder input[type="submit"]:hover {
  color: #eaaf0a;
  background-color: white;
}

/* line 1308, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.welcome-bg {
  background-image: url(../images/welcome/welcome-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 52px;
  padding-bottom: 115px;
}

/* line 1315, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.welcome-bg .welcome-group {
  margin-bottom: 35px;
  margin-top: 35px;
}

/* line 1318, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.welcome-bg .welcome-group h3 {
  margin: 0;
  padding: 0;
  color: #0f8683;
  font-family: "texgyrepagellabold";
  font-size: 2.4em;
  margin-bottom: 22px;
}

/* line 1326, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.welcome-bg .welcome-group hr {
  border-top: 1px solid #a19990;
  margin-top: 22px;
  margin-bottom: 22px;
}

/* line 1331, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.welcome-bg .welcome-group p {
  margin-top: 22px;
  margin-bottom: 22px;
  color: #a19990;
  letter-spacing: 0.05em;
}

/* line 1338, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.welcome-bg .welcome-img {
  margin-top: 35px;
}

/* line 1340, /Volumes/Macintosh HD/Applications/XAMPP/xamppfiles/htdocs/heide/css/layout.scss */
.welcome-bg .welcome-img img {
  width: 100%;
  height: auto;
}
